*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%) ;
  --lightGray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

html{
  font-size: 10px;
  font-family: "Outfit", sans-serif;
  font-weight: normal;
}

body{
  background: var(--lightGray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* mobile first */
.container{
  width: 320px;
  height: 497px;
}


/* footer styles with link to frontend mentor website  */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }